node_modules

*.tgz

# Build output
dist

*.out
*.app
.directory
*.idea
*.swp
.DS_Store
*.d
*.vscode
*.code-workspace
.env
.env.local
.envrc
*.local
_cjs
_esm
_types

# Proxy server logs
test/fixture/proxy-request*.json
test/fixture/proxy-response*.json
test/fixture/base-blocks-*.json